[package]
edition = "2021"
name = "token-factory"
version = "0.1.0"

[features]
default = []
no_api = []

[dependencies]
candid = "0.7"
common = { path = "../common" }
ic-cdk = "0.3"
ic-cdk-macros = "0.3"
ic-kit = { git = "https://github.com/infinity-swap/ic-kit" }
ic-storage = {git = "https://github.com/infinity-swap/ic-helpers.git", package = "ic-storage"}
ic-helpers = {git = "https://github.com/infinity-swap/ic-helpers.git", package = "ic-helpers"}
ic-canister = { git = "https://github.com/infinity-swap/ic-helpers.git", package = "ic-canister" }

dfn_core = {git = "https://github.com/infinity-swap/ic", branch = "rebased-2022-02-17"}

serde = "1.0"
ledger-canister = {git = "https://github.com/infinity-swap/ic", branch = "rebased-2022-02-17"}
thiserror = "1.0"

[dev-dependencies]
tokio = { version = "1", features = ["rt", "macros"] }
