name: Validate and Bump

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test:
    uses: infinity-swap/ci-wf/.github/workflows/build-n-test.yml@with-image
    with:
      container-image: ghcr.io/infinity-swap/ic-dev-full:rust1.62-dfx0.9
      skip-test: ${{ github.ref_type == 'tag' }}
      git-fetch-depth: '0'
      test-script: |
        ./scripts/build.sh
        cargo test

    secrets:
      gh_token: ${{ secrets.GH_PKG_TOKEN }}
      gh_login: ${{ secrets.GH_PKG_LOGIN }}

  version-bump:
    if: ${{ github.ref_type == 'branch' && github.ref == 'refs/heads/main' }}
    needs: [build-test]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: '0'
    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.36.0
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PKG_TOKEN }}
        WITH_V: true
